{% extends 'main/base.html' %}

{% block title %}Корзина{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Корзина</h1>
    <div class="cart-items">
        {% for item in cart %}
        <div class="cart-item d-flex justify-content-between align-items-center border-bottom pb-2 mb-3">
            <div class="item-info d-flex align-items-center">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="img-fluid" style="width: 120px;">
                <div class="ms-3">
                    <h5>{{ item.product.name }}</h5>
                    <p id="quantity-{{ item.product.id }}">{{ item.quantity }} x {{ item.product.price }} руб.</p>
                </div>
            </div>
            <div>
                <form action="{% url 'remove_from_cart' item.product.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-small btn-danger">Удалить</button>
                </form>
            </div>
        </div>
        {% empty %}
        <p>Ваша корзина пуста.</p>
        {% endfor %}
    </div>
    <div class="checkout mt-2">
        <button class="btn btn-primary" id="toggleOrderForm">Перейти к оформлению</button>
    </div>
    
    <div id="orderFormContainer" style="display:none;">
        <!-- Форма оформления заказа здесь -->
        <form action="{% url 'process_checkout' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Фамилия Имя Отчество" required>
            <input type="text" name="address" placeholder="Адрес доставки" required>
            <input type="tel" name="phone" placeholder="Номер телефона" required>
            <button type="submit" class="btn btn-primary">Оформить заказ</button>
        </form>
    </div>

</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    window.changeQuantity = function(productId, delta) {
        fetch(`/change_quantity/${productId}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken(),
                'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ 'delta': delta })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const quantityElement = document.getElementById(`quantity-${productId}`);
                const totalPriceElement = document.getElementById('total-price');
                if (quantityElement && totalPriceElement) {
                    quantityElement.textContent = `${data.new_quantity} x ${data.product_price} руб.`;
                    totalPriceElement.textContent = `Итого: ${data.total_price} руб.`;
                } else {
                    console.error('Element not found');
                }
            } else {
                console.error('Ошибка: ', data.error);
            }
        })
        .catch(error => console.error('Fetch error: ', error));
    };
});

function getCsrfToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value;
}
</script>

<script>
    document.getElementById('toggleOrderForm').addEventListener('click', function() {
        // Скрываем кнопку перехода к оформлению
        this.style.display = 'none';
    
        // Скрываем все кнопки "Удалить"
        document.querySelectorAll('.btn-danger').forEach(function(button) {
            button.style.display = 'none';
        });
    
        // Отображаем контейнер для формы
        document.getElementById('orderFormContainer').style.display = 'block';
    });
    </script>
    
{% endblock %}
