{% extends 'main/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
        <section id="about">
            <h2>О нас</h2>
            <p>Здесь информация о солярии...</p>
        </section>

                <!-- Swiper -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for img in images %}
                <div class="swiper-slide"><img src="{{ img.image.url }}" alt="{{ img.description }}"></div>
                {% endfor %}
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->
            
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>

        <div id="map"></div>

    {% endblock %}

    {% block script %}
    <script>
        var mySwiper = new Swiper('.swiper-container', {
          // Optional parameters
          direction: 'horizontal',
          loop: true,
          centeredSlides: true, // Это центрирует активный слайд
          slidesPerView: 3, // Показывать по 3 слайда за раз
          spaceBetween: 30, // Расстояние между слайдами
          
          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
          
          // And if we need scrollbar
          scrollbar: {
            el: '.swiper-scrollbar',
          },
        });
      </script>      
      <script>
        function initMap() {
          var locations = [
            {lat: 45.023131, lng: 39.049846},
            {lat: 45.032419, lng: 38.918701}
          ];
      
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: locations[0]
          });
      
          locations.forEach(function(location) {
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
          });
        }
      </script>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKKMxh13maqRowYFVJvpZPaXLpec99YP0&callback=initMap">
      </script>      
{% endblock %}