{% extends 'main/base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}
<div class="container mt-5">
<section class="product-section">
    <h1>Каталог кремов для загара</h1>
    <div class="filters">
        <select onchange="window.location.href=this.value">
            <option value="?">Все категории</option>
            {% for category in categories %}
            <option value="?category={{ category.name }}"
                    {% if request.GET.category == category.name %}selected{% endif %}>
                {{ category.name }}
            </option>
            {% endfor %}
        </select>

        <select onchange="window.location.href=this.value">
            <option value="">Сортировать по</option>
            <option value="?sort_by=price">Цена (возрастание)</option>
            <option value="?sort_by=-price">Цена (убывание)</option>
            <option value="?sort_by=name">Название</option>
        </select>
    </div>
    <div class="product-list">
        {% for product in products %}
        <div class="product-item">
            <div id="carousel{{ forloop.counter }}" class="carousel slide product-carousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="d-block w-100 product-image">
                    </div>
                    {% for image in product.images.all %}
                    <div class="carousel-item">
                        <img src="{{ image.image.url }}" alt="Additional image" class="d-block w-100 product-image">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel{{ forloop.counter }}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
            <h2 class="product-title">{{ product.name }}</h2>
            <p class="product-price">Цена: {{ product.price }} руб.</p>
            <button class="btn btn-primary buy-button" data-product-id="{{ product.id }}">Купить</button>
        </div>
        {% empty %}
        <p>Продукты не найдены.</p>
        {% endfor %}
        
      
  </div>
   
</section>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const buyButtons = document.querySelectorAll('.buy-button');
    buyButtons.forEach(button => {
        button.addEventListener('click', function() {
            const productId = this.getAttribute('data-product-id');
            fetch(`/add_to_cart/${productId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCsrfToken()
                },
                body: JSON.stringify({ 'quantity': 1 })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('product-name').textContent = data.product_name;
                    document.getElementById('product-price').textContent = `${data.product_price} руб.`;
                    document.getElementById('product-image').src = data.product_image;
                    $('#cartModal').modal('show');
                } else {
                    console.error('Ошибка добавления товара: ', data.error);
                }
            })
            .catch(error => {
                console.error('Ошибка: ', error);
            });
        });
    });
});


    // Функция для получения значения CSRF токена
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>

{% endblock %}

