{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-5">
    <ul class="nav nav-tabs" id="profileTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Обновление данных</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Сменить пароль</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Проверить заказы</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="appointments-tab" data-bs-toggle="tab" data-bs-target="#appointments" type="button" role="tab" aria-controls="appointments" aria-selected="false">Мои записи</button>
        </li>        
    </ul>
    <div class="tab-content" id="profileTabsContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="card mb-4 mx-1" style="max-width: 540px;">
                <div class="card-header">
                    Изменение профиля
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="full_name" class="form-label">ФИО:</label>
                            <input type="text" class="form-control" id="full_name" name="full_name" value="{{ profile.full_name }}">
                        </div>
                        <div class="mb-3">
                            <label for="phone_number" class="form-label">Номер телефона:</label>
                            <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ profile.phone_number }}">
                        </div>
                        <div class="mb-3">
                            <label for="address" class="form-label">Адрес:</label>
                            <textarea class="form-control" id="address" name="address">{{ profile.address }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="card mb-4 mx-1" style="max-width: 540px;">
                <div class="card-header">
                    Изменение пароля
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'change_password' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="old_password" class="form-label">Текущий пароль:</label>
                            <input type="password" class="form-control" id="old_password" name="old_password" required>
                        </div>
                        <div class="mb-3">
                            <label for="new_password1" class="form-label">Новый пароль:</label>
                            <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                        </div>
                        <div class="mb-3">
                            <label for="new_password2" class="form-label">Подтверждение нового пароля:</label>
                            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Изменить пароль</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="container mt-3">
                <h2>История заказов</h2>
                {% if orders %}
                <ul class="list-group">
                {% for order in orders %}
                    <li class="list-group-item">
                        Заказ №{{ order.id }} от {{ order.created_at|date:"d M Y H:i" }}
                        <br>
                        Статус: <strong>{{ order.get_status_display }}</strong>
                        <br>
                        <div class="order-items-row">
                            {% for item in order.items.all %}
                            <div class="order-item">
                                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="width: 50px;">
                                {{ item.product.name }} - {{ item.quantity }} шт.
                            </div>
                            {% endfor %}
                        </div>
                        Итоговая сумма: {{ order.total_price }} руб.
                    </li>
                {% endfor %}
                </ul>
                {% else %}
                <p>У вас пока нет заказов.</p>
                {% endif %}
            </div>
        </div>           
        <div class="tab-pane fade" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">
            <div class="container mt-3">
                <h2>Мои записи</h2>
                {% if appointments %}
                    <ul class="list-group">
                    {% for appointment in appointments %}
                        <li class="list-group-item">
                            Запись на дату: {{ appointment.date }} в {{ appointment.time }}
                            <br>
                            Услуга: <strong>{{ appointment.service }}</strong>
                            <br>
                            Статус: <strong>{{ appointment.get_status_display }}</strong>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>У вас пока нет записей.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
