{% extends 'main/base.html' %}

{% block content %}
<div class="profile-container">
    <form method="post" action="{% url 'profile' %}">
        {% csrf_token %}
        <label for="full_name">ФИО:</label>
        <input type="text" id="full_name" name="full_name" value="{{ profile.full_name }}">

        <label for="phone_number">Номер телефона:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{ profile.phone_number }}">

        <label for="address">Адрес:</label>
        <textarea id="address" name="address">{{ profile.address }}</textarea>

        <button type="submit">Сохранить изменения</button>
    </form>
</div>
{% endblock %}
