{% extends 'main/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Изменение профиля</h2>
            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="full_name" class="form-label">ФИО:</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" value="{{ profile.full_name }}">
                </div>
                <div class="mb-3">
                    <label for="phone_number" class="form-label">Номер телефона:</label>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ profile.phone_number }}">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Адрес:</label>
                    <textarea class="form-control" id="address" name="address">{{ profile.address }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
            </form>
        </div>
    </div>
{% endblock %}
