.cart-items .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.cart-item img {
    width: 80px; /* Адаптируйте под нужный размер */
    height: auto;
    margin-right: 20px;
}

.cart-item h5 {
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #333;
}

.cart-item p {
    font-size: 1rem;
    color: #666;
}

.total h4 {
    margin-right: 20px;
    color: #333;
    font-size: 1.4rem;
}

.checkout button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout button:hover {
    background-color: #0056b3;
}


/* Для оформления */
.container {
    /* max-width: 600px; Ограничиваем ширину контейнера */
    margin: auto; /* Выравниваем контейнер по центру */
    padding: 20px;
    background-color: #f8f9fa; /* Цвет фона */
    border: 1px solid #dee2e6; /* Граница вокруг контейнера */
    border-radius: 5px; /* Скругление углов */
}

h2 {
    color: #343a40; /* Цвет заголовка */
    text-align: center; /* Выравнивание заголовка по центру */
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0; /* Отступы вокруг полей ввода и кнопок */
    padding: 10px;
    border-radius: 5px; /* Скругление углов полей ввода и кнопок */
}

button {
    background-color: #007bff; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    cursor: pointer; /* Форма курсора при наведении на кнопку */
    border: none; /* Убрать стандартную рамку кнопки */
}

button:hover {
    background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

/* Для просмотра заказов */
.order-items-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.order-item {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Отступ между элементами */
}

.order-item img {
    margin-right: 5px; /* Отступ от изображения до текста */
}
