body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Стили для шапки */
header {
    background-color: #6b7e91; /* Темно-серый фон шапки */
    color: white; /* Белый текст */
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; /* Паддинг с каждой стороны */
    align-items: center;
    border-bottom: none;
}

/* Логотип и навигация на маленьких экранах (мобильных) */
header .col-md-3 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

/* Стили для навигационного меню */
header ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

header ul li {
    padding: 0 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

header ul li a:hover {
    color: #007bff; /* Светло-синий цвет при наведении */
}

/* Стили для кнопок "Войти" и "Регистрация" */
header .text-end {
    display: flex;
    justify-content: flex-end;
}

header .btn {
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

header .btn-outline-primary {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

header .btn-outline-primary:hover {
    background-color: white;
    color: #2d363e;
}

header .btn-primary {
    background-color: #007bff;
    color: white;
}

header .btn-primary:hover {
    background-color: #0056b3;
}

.container {
    padding: 0 60px;
  }
  
  /* Для каждого раздела */
  section {
    padding: 20px 0;
  }

/* Footer styles */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #6b7e91; /* Dark background */
    color: #ffffff; /* White text color */
}

footer .col-md-4 {
    display: flex;
    align-items: center;
}

footer a {
    color: #ffffff; /* White text color for links */
    text-decoration: none;
}

footer span {
    margin-left: 0.5rem;
}

footer .nav {
    list-style: none;
    display: flex; /* Гарантирует, что элементы li будут в ряд */
    padding: 0;
    margin: 0;
    justify-content: flex-end; /* Выравнивание иконок по правому краю */
}

footer .nav li {
    margin: 0 10px; /* Добавляет горизонтальный отступ между иконками */
}

footer .nav li a {
    color: #ffffff; /* Цвет иконок */
    font-size: 24px; /* Размер иконок */
}

/* Social media icons */
.nav {
    list-style: none;
    padding-left: 0;
}

.nav li {
    padding: 0;
}

.nav li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
}

/* SVG icon styles */
.svg-inline--fa {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentColor; /* Icon color will be white as per text */
    overflow: visible;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
}

main {
    padding: 20px;
}

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo {
    width: 30%;
    margin: 10px;
    background-color: #eee;
    text-align: center;
    padding: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    text-decoration: none;
    color: #000;
}

.modal-backdrop.show {
    opacity: 0.5 !important; /* you can adjust the opacity to your liking */
    backdrop-filter: blur(10px); /* this property creates the blur effect */
}

/* Стили для экранов шириной менее 768 пикселей (мобильные устройства) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .col-md-3,
    header .text-end {
        flex-basis: 100%;
        margin-bottom: 10px;
    }

    header ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    header ul li {
        padding: 5px;
    }

    .nav {
        justify-content: center;
        flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
      }
    
      .nav li {
        padding: 0.5rem; /* Обеспечивает отступы вокруг каждой ссылки */
      }
    
      .col-md-3.mb-2.mb-md-0, .col-md-3.text-end {
        flex-basis: 100%; /* Заставляет элементы занимать всю доступную ширину */
        display: flex; /* Применяет flexbox к этим элементам */
        justify-content: center; /* Центрирует содержимое элементов */
        margin-bottom: 0.5rem; /* Обеспечивает отступ снизу для каждого блока */
      }
    
      .btn {
        margin: 5px; /* Добавляет отступы вокруг кнопок */
      }

    /* Responsive styles */
    footer {
        justify-content: center;
        text-align: center;
    }

    footer .col-md-4 {
        justify-content: center;
        flex-basis: 100%;
        margin-bottom: 0.5rem;
    }

    footer .nav {
        justify-content: center;
        flex-basis: 100%;
    }

    .swiper-container {
        height: 200px; /* Меньшая высота для мобильных устройств */
        margin-bottom: 15px;
    }

    .swiper-slide img {
        width: 100%; /* Изображение занимает всю ширину слайда */
        height: auto; /* Высота изображения подстраивается автоматически */
        object-fit: cover; /* Убедитесь, что изображения не искажены */
    }

    /* Можете уменьшить количество отображаемых слайдов на мобильных */
    .swiper-slide {
        width: 75%; /* Меньшая ширина слайдов позволит увидеть часть соседних слайдов */
    }
}

/* Стили для экранов шириной более 768 пикселей */
@media (min-width: 769px) {
    .swiper-container {
        margin-bottom: 20px; /* Расстояние между каруселью и следующим элементом */
        max-height: 300px; /* Фиксированная максимальная высота для карусели */
        overflow: hidden; /* Подходящая высота для десктопов и планшетов */
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .swiper-slide {
        width: 33.333%; /* Подходящая ширина слайдов для десктопов */
    }
}


#map {
    height: 400px; /* или другая высота */
    width: 100%; /* на всю ширину контейнера */
}
      
.product-section {
    padding: 20px;
    background-color: #f7f7f7;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между товарами */
    justify-content: center;
}

.product-item {
    width: calc(33.333% - 20px); /* Три товара в ряд с учетом gap */
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
}

.product-title {
    margin-top: 10px;
    font-size: 1.2em;
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
}

.full-description {
    display: none;
}

.product-price {
    font-weight: bold;
    color: #333;
}

.product-buy-button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-buy-button:hover {
    background-color: #005f73;
}

/* Дополнительные стили для формы */
.form-label {
    font-weight: bold;
}

.btn-primary {
    width: 100%; /* Занимать всю ширину контейнера */
}

/* Стили для карточек */
.card-header {
    background-color: #f8f9fa; /* Светлый фон для заголовка */
    border-bottom: 1px solid #e3e6ea; /* Граница для отделения от тела */
}

.card-body {
    padding: 2rem; /* Больше паддинга для внутренних элементов */
}

/* Отступы для элементов формы */
.mb-4 {
    margin-bottom: 1.5rem; /* Отступ снизу для карточек */
}

.carousel-item {
    height: 100vh; 
    max-height: 500px;
    color: #fff; 
    background-color: #333; 
    background-image: none; /* Убрать изображение если оно было */
  }
  
  .carousel {
    margin-bottom: 0; /* Убрать отступ снизу если он есть */
  }
  
  /* Убедимся, что карусель растягивается на всю ширину экрана */
  .carousel-inner {
    width: 100vw;
    overflow: hidden;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #333;
  }
  
  /* Изменить цвет стрелок, если они слишком темные */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }
 
  .carousel-indicators li {
    background-color: #888; 
  }
  
  .carousel-indicators .active {
    background-color: #fff; 
  }
  
  /* Для кнопок */
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
  }
  
  /* Текст кнопки */
  .btn-primary {
    color: #fff;
  }
  
  /* Стили для контейнера с заголовками и кнопками */
.container-marketing {
    display: flex;
    justify-content: center; /* Выравниваем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
    flex-direction: column; /* Располагаем элементы в колонку */
    text-align: center; 
  }
  
  /* Стили для рядов внутри контейнера */
  .row {
    width: 100%; 
    justify-content: center; 
    margin: 0 auto; /* Убираем внешние отступы и выравниваем ряд по центру страницы */
  }
  
  
  h2 {
    margin-top: 1rem; /* Отступ сверху */
    margin-bottom: 0.5rem; /* Отступ снизу */
  }
  
  
  .btn {
    margin-top: 0.5rem; /* Отступ сверху */
    margin-bottom: 2rem; /* Отступ снизу */
  }
  
  /* Стили для секции "О нас" */
  #about {
    margin-top: 2rem; /* Отступ сверху для секции "О нас" */
  }

  