body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* SVG icon styles */
.svg-inline--fa {
    width: 1em;
    height: 1em;
    vertical-align: -0.125em;
    fill: currentColor; /* Icon color will be white as per text */
    overflow: visible;
}

main {
    flex-grow: 1;
    /* padding: 20px; */
}

#gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo {
    width: 30%;
    margin: 10px;
    background-color: #eee;
    text-align: center;
    padding: 20px;
}



.modal-backdrop.show {
    opacity: 0.5 !important; /* you can adjust the opacity to your liking */
    backdrop-filter: blur(10px); /* this property creates the blur effect */
}

/* Стили для экранов шириной менее 768 пикселей (мобильные устройства) */


/* Стили для экранов шириной более 768 пикселей */
@media (min-width: 769px) {
    .swiper-container {
        margin-bottom: 20px; /* Расстояние между каруселью и следующим элементом */
        max-height: 300px; /* Фиксированная максимальная высота для карусели */
        overflow: hidden; /* Подходящая высота для десктопов и планшетов */
    }

    .swiper-slide img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .swiper-slide {
        width: 33.333%; /* Подходящая ширина слайдов для десктопов */
    }
}


#map {
    height: 400px; /* или другая высота */
    width: 100%; /* на всю ширину контейнера */
}
      
.product-section {
    padding: 20px;
    background-color: #f7f7f7;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Расстояние между товарами */
    justify-content: center;
}

.product-item {
    width: calc(33.333% - 20px); /* Три товара в ряд с учетом gap */
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden; /* Добавим это свойство, чтобы обрезать изображения, выходящие за пределы контейнера */
}

.product-image {
    width: 80%;  /* Уменьшение ширины до 80% от доступного пространства */
    height: auto;  /* Поддержание пропорций изображения */
    object-fit: contain; /* Убеждаемся, что изображение полностью видимо и не обрезается */
}

.product-title {
    margin-top: 10px;
    font-size: 1.2em;
}

.product-description {
    font-size: 0.9em;
    color: #666;
    margin: 10px 0;
}

.full-description {
    display: none;
}

.product-price {
    font-weight: bold;
    color: #333;
}

.product-buy-button {
    background-color: #008cba;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-buy-button:hover {
    background-color: #005f73;
}

/* Дополнительные стили для формы */
.form-label {
    font-weight: bold;
}

.btn-primary {
    width: 100%; /* Занимать всю ширину контейнера */
}

/* Стили для карточек */
.card-header {
    background-color: #f8f9fa; /* Светлый фон для заголовка */
    border-bottom: 1px solid #e3e6ea; /* Граница для отделения от тела */
}

.card-body {
    padding: 2rem; /* Больше паддинга для внутренних элементов */
}

/* Отступы для элементов формы */
.mb-4 {
    margin-bottom: 1.5rem; /* Отступ снизу для карточек */
}

/* Стили для карусели продуктов */
.product-carousel .carousel-item {
    max-height: 500px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    background-image: none;
}

/* Стили для основной карусели на главной странице */
.main-carousel .carousel-item {
    height: 100vh;
    max-height: 500px;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    background-image: none;
}
  
  .carousel {
    margin-bottom: 0; /* Убрать отступ снизу если он есть */
  }
  
  /* Убедимся, что карусель растягивается на всю ширину экрана */
  .carousel-inner {
    width: 100vw;
    overflow: hidden;
  }
  
  /* .carousel-control-prev,
  .carousel-control-next {
    background-color: #333;
  } */
  
  /* Изменить цвет стрелок, если они слишком темные */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(1);
  }
 
  .carousel-indicators li {
    background-color: #888; 
  }
  
  .carousel-indicators .active {
    background-color: #fff; 
  }
  
  /* Для кнопок */
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff; 
  }
  
  /* Текст кнопки */
  .btn-primary {
    color: #fff;
  }
  
  /* Стили для контейнера с заголовками и кнопками */
.container-marketing {
    display: flex;
    justify-content: center; /* Выравниваем элементы по горизонтали */
    align-items: center; /* Выравниваем элементы по вертикали */
    flex-direction: column; /* Располагаем элементы в колонку */
    text-align: center; 
  }
  
  /* Стили для рядов внутри контейнера */
  .row {
    width: 100%; 
    justify-content: center; 
    margin: 0 auto; /* Убираем внешние отступы и выравниваем ряд по центру страницы */
  }
  
  
  h2 {
    margin-top: 1rem; /* Отступ сверху */
    margin-bottom: 0.5rem; /* Отступ снизу */
  }
  
  
  .btn {
    margin-top: 0.5rem; /* Отступ сверху */
    margin-bottom: 2rem; /* Отступ снизу */
  }
  
  /* Стили для секции "О нас" */
  #about {
    margin-top: 2rem; /* Отступ сверху для секции "О нас" */
  }

